/* https://github.com/mikeejazmines/tinder-clone */
/* https://www.geeksforgeeks.org/how-to-create-tinder-card-swipe-gesture-using-react-and-framer-motion/ */


body {
    height: 100vh;
    width: 520px;
    background-color: #f0f0f0;
    margin: auto;
} 

@media screen and (max-width: 520px) {
    body {
        width: 100%;
    }
    
}